<section class="m-full-content">
  <div class="m-full-content__container">
    <img src="{{asset "images/members/premium-illustration.svg"}}" alt="{{t "Access all our content"}}"
      class="m-full-content__illustration">
    <div class="m-full-content__info">
      <h2 class="m-full-content__title">{{t "Access all our content"}}</h2>
      <p class="m-full-content__description">
        {{t "Register now and have access to all our stories, help us stay independent and enjoy exclusive content, with constant updates."}}
      </p>
      <div class="m-full-content__buttons">
        <a href="{{@site.url}}/signin" class="m-button outlined no-fancy-animation">{{t "Sign in"}}</a>
        <a href="{{@site.url}}/signup" class="m-button filled">{{t "Sign up"}}</a>
      </div>
    </div>
  </div>
</section>
