<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Preload assets --}}
  <link rel="preload" href="{{asset "css/app.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/manifest.js"}}" as="script" />
  <link rel="preload" href="{{asset "js/vendor/content-api.min.js"}}" as="script" />
  <link rel="preload" href="{{asset "js/vendor.js"}}" as="script" />
  <link rel="preload" href="{{asset "js/app.js"}}" as="script" />
  <link rel="preconnect" href="https://polyfill.io">
  <link rel="dns-prefetch" href="https://polyfill.io">

  {{!-- This #block helper will try to preload page-specific assets --}}
  {{{block "preload"}}}

  {{!-- Styles'n'Scripts --}}
  <style>
    /* These font-faces are here to make fonts work if the Ghost instance is installed in a subdirectory */

    /* playfair-display-700 */
    @font-face {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url("{{asset 'fonts/playfair-display/latin/playfair-display-700.eot'}}");
      src: url("{{asset 'fonts/playfair-display/latin/playfair-display-700.eot?#iefix'}}") format('embedded-opentype'),
          url("{{asset 'fonts/playfair-display/latin/playfair-display-700.woff2'}}") format('woff2'),
          url("{{asset 'fonts/playfair-display/latin/playfair-display-700.woff'}}") format('woff'),
          url("{{asset 'fonts/playfair-display/latin/playfair-display-700.ttf'}}") format('truetype'),
          url("{{asset 'fonts/playfair-display/latin/playfair-display-700.svg#PlayfairDisplay'}}") format('svg');
    }

    /* roboto-regular */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("{{asset 'fonts/roboto/latin/roboto-regular.eot'}}");
      src: local('Roboto'), local('Roboto-Regular'),
          url("{{asset 'fonts/roboto/latin/roboto-regular.eot?#iefix'}}") format('embedded-opentype'),
          url("{{asset 'fonts/roboto/latin/roboto-regular.woff2'}}") format('woff2'),
          url("{{asset 'fonts/roboto/latin/roboto-regular.woff'}}") format('woff'),
          url("{{asset 'fonts/roboto/latin/roboto-regular.ttf'}}") format('truetype'),
          url("{{asset 'fonts/roboto/latin/roboto-regular.svg#Roboto'}}") format('svg');
    }

    /* roboto-500 */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url("{{asset 'fonts/roboto/latin/roboto-500.eot'}}");
      src: local('Roboto Medium'), local('Roboto-Medium'),
          url("{{asset 'fonts/roboto/latin/roboto-500.eot?#iefix'}}") format('embedded-opentype'),
          url("{{asset 'fonts/roboto/latin/roboto-500.woff2'}}") format('woff2'),
          url("{{asset 'fonts/roboto/latin/roboto-500.woff'}}") format('woff'),
          url("{{asset 'fonts/roboto/latin/roboto-500.ttf'}}") format('truetype'),
          url("{{asset 'fonts/roboto/latin/roboto-500.svg#Roboto'}}") format('svg');
    }

    /* roboto-700 */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url("{{asset 'fonts/roboto/latin/roboto-700.eot'}}");
      src: local('Roboto Bold'), local('Roboto-Bold'),
          url("{{asset 'fonts/roboto/latin/roboto-700.eot?#iefix'}}") format('embedded-opentype'),
          url("{{asset 'fonts/roboto/latin/roboto-700.woff2'}}") format('woff2'),
          url("{{asset 'fonts/roboto/latin/roboto-700.woff'}}") format('woff'),
          url("{{asset 'fonts/roboto/latin/roboto-700.ttf'}}") format('truetype'),
          url("{{asset 'fonts/roboto/latin/roboto-700.svg#Roboto'}}") format('svg');
    }

    /* iconmoon */
    @font-face {
      font-family: 'icomoon';
      src: url("{{asset 'fonts/icomoon/icomoon.eot?j42gb1'}}");
      src: url("{{asset 'fonts/icomoon.eot?j42gb1#iefix'}}") format('embedded-opentype'),
      url("{{asset 'fonts/icomoon/icomoon.ttf?j42gb1'}}") format('truetype'),
      url("{{asset 'fonts/icomoon/icomoon.woff?j42gb1'}}") format('woff'),
      url("{{asset 'fonts/icomoon/icomoon.svg?j42gb1#icomoon'}}") format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}" media="screen" />

  {{!-- This #block helper will inject a stylesheet for a specific page --}}
  {{{block "styles"}}}

  {{!-- This #block helper will pull data from the hero partial 
    to inject styles of the hero image to make it responsive --}}
  {{{block "herobackground"}}}

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}

  {{!-- These variables are used to make the search form work --}}
  <script>
    const ghostHost = '{{@site.url}}'
    const membersLabel = '{{t "members"}}'
    const paidLabel = '{{t "paid"}}'
  </script>
</head>

<body class="{{body_class}}">
  {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
  {{{body}}}

  {{!-- Search form --}}
  {{> search}}
  
  {{!-- The footer --}}
  {{> footer}}

  {{!-- Notifications alerts --}}
  {{#if @labs.members}}
    {{> "notifications"}}
  {{/if}}

  {{!-- Common scripts shared between pages --}}
  <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver%2CPromise%2CArray.prototype.includes%2CString.prototype.endsWith%2CString.prototype.startsWith%2CObject.assign%2CNodeList.prototype.forEach"></script>
  {{!--

    anime.js v3.2.0
    (c) 2019 Julian Garnier
    Released under the MIT license
    animejs.com

    AOS v2.3.4
    The MIT License (MIT)
    Copyright (c) 2015 Michał Sajnóg

    css-vars-ponyfill v2.3.2
    https://jhildenbiddle.github.io/css-vars-ponyfill/
    (c) 2018-2019 John Hildenbiddle <http://hildenbiddle.com> * MIT license

    fitvids 2.0.0
    DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
    Copyright (C) 2015 Ross Zurowski <ross@rosszurowski.com>

    Fuse.js v6.3.0 - Lightweight fuzzy-search (http://fusejs.io)
    Copyright (c) 2012-2017 Kirollos Risk (http://kiro.me)
    All Rights Reserved. Apache Software License 2.0
    http://www.apache.org/licenses/LICENSE-2.0

    headroom.js v0.11.0 - Give your page some headroom. Hide your header until you need it
    Copyright (c) 2019 Nick Williams - http://wicky.nillia.ms/headroom.js
    License: MIT

    jQuery v3.5.1 | (c) JS Foundation and other contributors | jquery.org/license

    lozad.js - v1.15.0 - 2019-10-19
    https://github.com/ApoorvSaxena/lozad.js
    Copyright (c) 2019 Apoorv Saxena; Licensed MIT

    medium-zoom 1.0.6 | MIT License | https://github.com/francoischalifour/medium-zoom

    stickybits - Stickybits is a lightweight alternative to `position: sticky` polyfills
    version: v3.7.7
    link: https://github.com/dollarshaveclub/stickybits#readme
    author: Jeff Wainwright <yowainwright@gmail.com> (https://jeffry.in)
    license: MIT

    Swiper 6.0.4
    Most modern mobile touch slider and framework with hardware accelerated transitions
    http://swiperjs.com
    Copyright 2014-2019 Vladimir Kharlampidi
    Released under the MIT License
    Released on: October 26, 2019

    tippy.js v6.2.4
    MIT License
    Copyright (c) 2017 atomiks

    viewport-units-buggyfill v0.6.2
    web: https://github.com/rodneyrehm/viewport-units-buggyfill/
    author: Rodney Rehm - http://rodneyrehm.de/en/

    Ghost content-api
    MIT License
    Copyright (c) 2018-2019 Ghost Foundation

  --}}
  <script defer src="{{asset "js/manifest.js"}}"></script>
  <script defer src="{{asset "js/vendor/content-api.min.js"}}"></script>
  <script defer src="{{asset "js/vendor.js"}}"></script>
  <script defer src="{{asset "js/app.js"}}"></script>

  {{!-- The #block helper will pull in data from the #contentFor other template files --}}
  {{{block "scripts"}}}

  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
</body>

</html>
