{{!--
This template is used for pages.
--}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<main class="main-wrap">
  {{> header}}
  {{!-- Everything inside the #post tags pulls data from the post --}}
  {{#post}}
  <article>
    {{#if feature_image}}
      <section class="m-article-hero" data-aos="fade">
        {{> hero-background background=feature_image}}
        <div class="m-article-hero__content">
          <h1 class="m-article-title">{{title}}</h1>
          <div class="m-article-metas {{#unless custom_excerpt}}no-excerpt{{/unless}}">
            {{#if primary_tag}}
              <a href="{{primary_tag.url}}" class="m-primary-tag">{{primary_tag.name}}</a>
            {{/if}}
            <p class="m-article-metas__time">
              <span>{{date published_at timeago="true"}}</span>
              {{#if reading_time}}
                <span>&nbsp; &bull; &nbsp;</span>
                <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
              {{/if}}
            </p>
          </div>
          {{#if custom_excerpt}}
            <p class="m-article-excerpt">{{custom_excerpt}}</p>
          {{/if}}
        </div>
      </section>
    {{/if}}
    <section class="l-article-wrapper {{#unless feature_image}}no-hero{{/unless}}" data-aos="fade-up">
      <div class="l-article-wrapper__container">
        <header class="m-article-header {{#unless feature_image}}no-hero{{/unless}}">
          <h1 class="m-article-title">{{title}}</h1>
          <div class="m-article-metas {{#unless custom_excerpt}}no-excerpt{{/unless}}">
            {{#if primary_tag}}
              <a href="{{primary_tag.url}}" class="m-primary-tag {{#unless feature_image}}no-hero{{/unless}}">{{primary_tag.name}}</a>
            {{/if}}
            <p class="m-article-metas__time">
              <span>{{date published_at timeago="true"}}</span>
              {{#if reading_time}}
                <span>&nbsp; &bull; &nbsp;</span>
                <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
              {{/if}}
            </p>
          </div>
          {{#if custom_excerpt}}
            <p class="m-article-excerpt">{{custom_excerpt}}</p>
          {{/if}}
        </header>
        <div class="m-article-divider {{#unless feature_image}}no-hero{{/unless}}"></div>
        <section class="m-article-content js-post-content {{#unless feature_image}}no-hero{{/unless}}">
          {{content}}
        </section>
        {{!-- Share  --}}
        <div class="m-article-share">
          <div class="m-article-share__container js-sticky">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" class="m-article-share__button no-appearance focusable" target="_blank" rel="noopener" aria-label="Facebook">
              <span class="icon-facebook-outline" aria-hidden="true"></span>
            </a>
            <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute='true'}}" class="m-article-share__button no-appearance focusable" target="_blank" rel="noopener" aria-label="Twitter">
              <span class="icon-twitter-outline" aria-hidden="true"></span>
            </a>
            <button class="m-article-share__button no-appearance focusable js-copy-link js-copy-tooltip" aria-label="{{t "Copy link"}}" data-tippy-content="{{t "Link copied!"}}">
              <span class="icon-link" aria-hidden="true"></span>
            </button>
            <input type="text" value="{{url absolute='true'}}" class="no-appearance invisible sr-only js-input-link" aria-hidden="true" tabindex="-1">
          </div>
        </div>
      </div>
    </section>
    {{!-- Newsletter subscription form at the bottom of the page --}}
    {{#if @labs.members}}
      <section class="m-newsletter-section">
        <div class="l-wrapper">
          <div class="m-newsletter__content">
            {{> "newsletter-form"}}
          </div>
        </div>
      </section>
    {{/if}}
  </article>
  {{/post}}
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/post.js"}}"></script>
{{/contentFor}}
