{{!--
This template is used for the signin page.
--}}

{{!-- This block loads specific styles for the signin page --}}
{{#contentFor "styles"}}
  <link rel="preload" href="{{asset "css/auth.css"}}" as="style" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/auth.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< ../default}}

<div class="main-wrap">
  {{> header}}

  {{#if @member}}

    {{!-- Logged in: Redirect home --}}
    <script>window.location = '{{@site.url}}'</script>

  {{else}}

    {{!-- Not logged in: Signin form --}}
    <main class="l-auth">
      <form data-members-form="signin" id="signin-form" class="l-auth__content" data-aos="fade-up">
        <div class="l-auth__form">
          <div class="m-auth-heading">
            <h1 class="m-auth-heading__title">{{t "Welcome back!"}}</h1>
            <p class="m-auth-heading__description">
              {{t "Sign into your account again for full access."}}
            </p>
          </div>
          <div class="m-auth-form">
            <div class="m-fieldset in-auth-form">
              <label for="signin-input" class="sr-only">{{t "Your email address"}}</label>
              <input data-members-email id="signin-input" class="m-input focusable in-auth-form" type="email" required placeholder="{{t "Your email address"}}" />
            </div>
            <button id="signin-button" class="m-button primary focusable in-auth-form" type="submit">
              <span>{{t "Send magic link"}}</span>
            </button>
          </div>
          <div class="m-alert success in-auth-form">
            <b>{{t "Great!"}}</b>
            {{t "Check your inbox and click the link to complete signin."}}
          </div>
          <p class="l-auth__form__invalid m-error-message in-auth-form">{{t "Please enter a valid email address"}}</p>
          <p class="l-auth__form__error m-error-message in-auth-form">
            {{t "Oops! There was an error sending the email, please try later"}}</p>
          <p class="m-auth-secondary-text">
            {{t "Don't have an account yet?"}}
            <a href="{{@site.url}}/signup">{{t "Sign up"}}</a>
          </p>
        </div>
        <img width="400" height="350" data-src="{{asset "images/members/signin-illustration.svg"}}" alt=""
          class="m-auth-illustration lozad">
      </form>
    </main>

  {{/if}}
</div>
